.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Images/header.svg);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header .photo {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

.header .title {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.information p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.information p::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}

.information .job::before {
  background-image: url(../Images/job.svg);
}

.information .location::before {
  background-image: url(../Images/location.svg);
}

.information .contact::before {
  background-image: url(../Images/contact.svg);
}

.information .email::before {
  background-image: url(../Images/email.svg);
}

.box::before {
  content: "";
  background-image: url(../Images/bkg-top.svg);
  width: 100vw;
  height: 75vh;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.box::after {
  content: "";
  background-image: url(../Images/bkg-top.svg);
  width: 100vw;
  height: 75vh;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: rotate(180deg);
}

.languages {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.languages li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
}

.languages li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-image: url(../Images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.75rem 0;
}

.portfolio li .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.portfolio li a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
}

.portfolio li a:hover {
  color: #fff;
  text-decoration: underline;
}

.portfolio li .title.github::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-image: url(../Images/iconmonstr-github-1\ 1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.experience {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.experience li .period {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.experience li .period::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-image: url(../Images/calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills .tools ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills .tools ul li img {
  max-width: 80px;
  max-height: 80px;
  margin: 0.5rem;
}

.skills .personal ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.skills .personal ul li {
  margin-left: 2rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .box {
    max-width: 750px;
    margin: 1rem auto;
  }

  .header {
    display: grid;
    grid-template-areas:
      "photo title"
      "photo information";
  }

  .header .photo {
    grid-area: photo;
  }

  .header .title {
    grid-area: title;
  }

  .header .information {
    grid-area: information;
    align-items: flex-start;
    margin: 0 3rem;
  }

  .header::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../Images/header.svg);
    position: absolute;
    top: 0;
    right: 1rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .box {
    max-width: 1000px;
    margin: 1rem auto;
  }

  .header {
    display: grid;
    grid-template-areas:
      "photo title"
      "photo information";
  }

  .header .photo {
    grid-area: photo;
  }

  .header .title {
    grid-area: title;
  }

  .header .information {
    grid-area: information;
    align-items: flex-start;
    margin: 0 5rem;
  }
}
